.chat-side
  .chat-side-header
    .chat-side-header_dox
      %p.chat-side-header_dox_username
        peoc
    %u1.chat-side-header_dox_menu
      =link_to new_group_path,class: "contents__btn" do
        =icon('fas','edit')
      =link_to edit_user_path(current_user),class: "contents__btn" do
        =icon('fas','cog')
  .chat-side-groups
    .chat-side-groups_list
      .chat-side-groups_list_name
        test
      .chat-side-groups_list_preview